<div class="counter-wrap">
  <div class="big">{{min}}:{{sec}}</div>
  <div class="buttons">
    <img src="../../assets/eye.svg" class="eye" (click)="show=!show" />
    <div class="buttons-inner" *ngIf="show">
      <button (click)="init()">Start</button>
      <button (click)="stop()">Stop</button>
      <input class="itext" type="number" min="0" [(ngModel)]="ptime">
      <div class="custom-checkbox">
        <input id="cc" type="checkbox" [(ngModel)]="loop" />
        <label for="cc">Loop</label>
      </div>
    </div>
  </div>
</div>