.counter-wrap {}

.big {
  font-size: 28vw;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.eye {
  height: 34px;
  width: 34px;
  margin-right: 10px;
  cursor: pointer;
}

.buttons {
  position: absolute;
  bottom: 10px;
  left: 90px;
  display: flex;
}

.buttons-inner {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

button {
  background: #4682B4;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

.itext {
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 16px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

.custom-checkbox label {
  font-size: 20px;
}

.custom-checkbox input[type=checkbox] {
  display: none;
}

.custom-checkbox input[type=checkbox]+label:before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: white;
  margin: 0 4px 0 0;
}

.custom-checkbox input[type=checkbox]:checked+label:before {
  content: "\2713";
  color: #000;
  text-align: center;
  line-height: 27px;
  font-size: 26px;
}