.bg-dark {
  min-height: 100vh;
  height: 100%;
  width: 90vw;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.img-wrap {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.img-wrap img {
  width: 150px;
  height: 150px;
}