<div class="bg-dark">
  <div class="img-wrap">
    <img class="img-fluid" src="assets/1.jpg" alt="Gethnaa" />
    <img class="img-fluid" src="assets/2.png" alt="Gethnaa" />
    <img class="img-fluid" src="assets/3.png" alt="Gethnaa" />
    <img class="img-fluid" src="assets/4.jpg" alt="Gethnaa" />
  </div>
  <div class="mx-auto col-xs-12 col-sm-8 col-lg-6">
    <router-outlet></router-outlet>
  </div>
</div>